*{
	box-sizing: border-box;
	font-family: Arial,Helvetica,sans-serif;
}
body{
	background-color:#333;
}
header{
	background-color: black;
	color: floralwhite;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-radius: 5px;
}
nav{
	padding-top: 10px;
}
ul{
	list-style: none;
	display: flex;
	gap: 25px;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: grey;
}
section h1{
	margin-bottom: 15px;
	font-size: 25px;
	color:darkblue;
	text-align: center;
}
#About{
	background-color: white;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 20px;
	border-radius: 5px;
	box-shadow:  0 3px 8px rgba(0, 0, 0, 0.1);
}
.container{
	background-color: beige;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	gap: 30px;
}

.container img {
    width: 250px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    background: #eee;
}
.container p {
	flex: 1;
	font-size: 18px;
	margin: 0 auto;
	text-align: center;
	line-height: 1.5;
}
#Projects{
	background-color: beige;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 15px;
	border-radius:  5px;
	box-shadow:  0 3px 8px rgba(0, 0, 0, 0.1);
}
.projects-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.Project {
    width: 48%;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    text-align: center;
}
.Project p {
    font-size: 16px;            
    color: dimgray;
    padding: 0 5px
}
img{
	width: 100%;
    height: auto;      
    object-fit: contain;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #eee;   
    border: 1px solid rgba(0,0,0,0.08);
}
#Contact{
	background-color:#F4FDFF ;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1)
}
.form_container{
	text-align: center;
}
form{
	display: flex;
	flex-direction: column;
	width: 350px;
    gap: 15px;
    margin: 40px auto;
    background-color:#85BCC7 ;
    padding: 10px;
    border-radius: 5px;
    width: 48%;            
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);

}
input[type="text"]{
	padding: 10px;
	border-radius: 5px;
}
button {
    background: #222;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: gray;
}
footer{
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
}
